<div class="container">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10" ng-controller="shopDetail">
        <form class="form form-horizontal free-shop"  name="shopForm"  ng-submit="processForm(shopForm.$valid)" novalidate>
            <legend><%=title%>
                <small class="pull-right text-danger hide"><i class="fa fa-info"></i> <span id="errorInfo"></span></small>
                <small class="pull-right text-success hide"><i class="fa fa-info"></i> <span id="successInfo"></span></small>
            </legend>
            <div class="alert alert-success alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> Change is save.
            </div>
            <div class="alert alert-danger alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> <span class="text">Something wrong.</span>
            </div>
            <div class="light">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Shop Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="name" ng-model="shopFormData.name" placeholder="shop name" ng-minlength="4" ng-maxlength="30" required>
                        <label for="inputError" class="control-label text-danger" ng-show="shopForm.name.$invalid && !shopForm.name.$pristine"><i class="fa fa-times-circle-o"></i> 4-30, allowed characters.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Telephone</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="phoneNum" ng-model="shopFormData.contact.phoneNum" placeholder="telephone" ng-minlength="7" ng-maxlength="13" ng-pattern="/^[0-9]{7,13}$/"  required>
                        <label for="inputError" class="control-label text-danger" ng-show="shopForm.phoneNum.$invalid && !shopForm.phoneNum.$pristine"><i class="fa fa-times-circle-o"></i> 7-13 numbers</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" name="email" ng-model="shopFormData.contact.email" placeholder="email"  required>
                        <label for="inputError" class="control-label text-danger" ng-show="shopForm.email.$invalid && !shopForm.email.$pristine"><i class="fa fa-times-circle-o"></i> e.g. abd@d.com</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="address" ng-model="shopFormData.contact.address" ng-minlength="5" ng-maxlength="100" placeholder="address"  required>
                        <label for="inputError" class="control-label text-danger" ng-show="shopForm.address.$invalid && !shopForm.address.$pristine"><i class="fa fa-times-circle-o"></i> 5-100 characters</label>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Logo</label>
                    <div class="fileinput fileinput-new col-sm-4" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTkwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijk1IiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE5MHgxNDA8L3RleHQ+PC9zdmc+" alt="Your Shop Logo (<5KB)">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                        <div>
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new">Select Logo</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" />
                           </span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <div class="">
                        <label for="" class="col-sm-2 control-label">Uploaded Logo</label>
                        <div class="col-sm-4"><img id="uploaded" src="" class="img-thumbnail"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="description" ng-model="shopFormData.description" placeholder="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="deep">
                <div class="control-group text-center">
                    <button class="btn btn-primary" role="button" ng-disabled="shopForm.$invalid">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    App.controller( "shopDetail", function ( $scope, $http ) {

        $scope.shopFormData = {};

        $scope.load = function () {
            $http({
                method: 'GET',
                url: '/api/v1/shop/mine'
            }).success( function (data) {
                if ( typeof data === 'object' ) {
                    $scope.shopFormData = data;
                    $("#uploaded").attr('src', data.logo);
                } else {
                    $( "div.alert-danger" ).removeClass( 'hide' ).find( 'span.text' ).text( 'Server Error!' );
                }
            });
        };

        $scope.load();

        $scope.processForm = function ( isValid ) {
            if ( isValid ) {
                if ( !$scope.shopFormData.logo ) {
                    alert( 'Logo image not upload.' );
                    return;
                }

                $http({
                    method  : 'POST',
                    url     : '/api/v1/shop/' + $scope.shopFormData._id,
                    data    : $.param( $scope.shopFormData ),  // pass in data as strings
                    headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
                })
                .success( function ( data ) {
                    if ( data === "success" ) {
                        $( "div.alert-success" ).removeClass( 'hide' );
                        $scope.load();
                    } else {
                        $( "div.alert-danger" ).removeClass( 'hide' ).find( 'span.text' ).text( data );
                    }
                });
            }
        };

        $( 'div.fileinput' ).on( 'change.bs.fileinput', function () {
            // console.log('file selected');
            var logoDUS = $( this ).find( "div.fileinput-preview img").attr( 'src' );
            $scope.shopFormData.logo = logoDUS;
        });
        $( 'div.fileinput' ).on( 'clear.bs.fileinput', function () {
            // console.log('file clear');
            $scope.shopFormData.logo = $( "#uploaded img" ).attr( 'src' );
        });
    });
</script>
