<div class="container" ng-controller="income">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-inline" name="filterForm">
                    <div class="form-group price">
                        <label for="">State:</label>
                        <select class="form-control" ng-model="filterData.state">
                            <option value="">Select Period</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date:</label>
                        <div class="input-group input-daterange">
                            <input type="text" class="form-control" name="startDate" ng-model="filterData.startDate" style="width:100px;"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" name="endDate" ng-model="filterData.endDate" style="width:100px;"/>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" ng-click="load()">Go!</a>
                </form>
            </div>
        </div><!-- END panel -->
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Commission</th>
                            <th>Advertisement</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

<script>
    $( function () {

    });

    App.controller("income", function ($scope, $http) {
        var url = '/api/v1/income';

        $http.get('/api/v1/shop/mine').success(function (data) {
            if (typeof data === 'object') {
                $scope.shopInfo = data;
                $http.get(url + '?shop_id=' + data._id).success(function (result) {
                    if (typeof result === 'object') {
                        console.log(result);
                    }
                });
            } else {
                showErrorInfo('Get shop info failed.');
            }
        });


    });
</script>
