<div class="container" ng-controller="income">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <legend><%=title%>
            <small class="pull-right text-danger hide"><i class="fa fa-info"></i> <span id="errorInfo"></span></small>
            <small class="pull-right text-success hide"><i class="fa fa-info"></i> <span id="successInfo"></span></small>
        </legend>
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-inline" name="filterForm">
                    <div class="form-group">
                        <label for="">Period:</label>
                        <select class="form-control" ng-model="filterData.groupDate">
                            <option value="">Select Period</option>
                            <option value="daily" selected="selected">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">State:</label>
                        <select class="form-control" ng-model="filterData.state">
                            <option value="">Select State</option>
                            <option value="unpay">Unpay</option>
                            <option value="pay">Pay</option>
                            <option value="done">Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date:</label>
                        <div class="input-group input-daterange">
                            <input type="text" class="form-control" name="startDate" ng-model="filterData.startDate" style="width:100px;"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" name="endDate" ng-model="filterData.endDate" style="width:100px;"/>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" ng-click="load()">Go!</a>
                </form>
            </div>
        </div><!-- END panel -->
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Sales</th>
                            <th>Volume <abbr title="quantity / orders"><i class="fa fa-fw fa-info"></i></abbr></th>
                            <th>Commission</th>
                            <th>Average Commission</th>
                            <th class="col-xs-2">Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in incomeData">
                            <td>{{genDate(item._id)}}</td>
                            <td>{{item.totalPrice | currency: '$'}}</td>
                            <td>{{item.volume}} / {{item.count}}</td>
                            <td class="text-danger">-{{item.totalCommission | currency: '$'}}</td>
                            <td>{{item.avgCommission * 100 | number: 2}}%</td>
                            <td>{{item.totalPrice - item.totalCommission | currency: '$'}}</td>
                        </tr>
                        <tr class="text-danger">
                            <td class="text-right" colspan="5">Total</td>
                            <td>{{incomeTotal | currency: '$'}}</td>
                        </tr>
                </table>
            </div><!-- /.box-body -->
        </div>
        <h4>Advertise</h4>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="col-xs-2">Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in adIncomeData">
                            <td>{{genDate(item._id)}}</td>
                            <td>-{{item.totalPrice | currency: '$'}}</td>
                        </tr>
                        <tr class="text-danger">
                            <td class="text-right">Total</td>
                            <td>-{{adIncomeTotal | currency: '$'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
        <h4>Summary</h4>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date Range</th>
                            <th class="col-xs-2">Total Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{filterData.startDate}} ~ {{filterData.endDate}}</td>
                            <td class="h4 text-danger">{{incomeTotal - adIncomeTotal | currency: '$'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

<script>
    $( function () {
        $("div.input-daterange input").each(function () {
            $(this).datepicker({format: 'mm/dd/yyyy'});
        });

        var now = new Date();
        $("div.input-daterange input.start").datepicker("update", new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000));
        $("div.input-daterange input.end").datepicker("update", now);
    });

    App.controller("income", function ($scope, $http) {
        var url = '/api/v1/income',
            adUrl = '/api/v1/income_ad',
            shopUrl = '/api/v1/shop/mine',
            shop_id = '';

        $scope.filterData = {
            startDate: new Date(new Date().getTime() - 7 * 24 * 3600 * 1000),
            endDate: new Date(),
            groupDate: 'daily'
        };
        $scope.load = function () {
            $scope.incomeTotal = 0;
            $scope.adIncomeTotal = 0;
            var filterStr = '';
            var count = 0;
            for (var key in $scope.filterData) {
                filterStr += key + '=' + $scope.filterData[key] + '&';
            }
            filterStr = filterStr.substring(0, filterStr.length - 1);
            $http.get(url + '?shop_id=' + shop_id + '&' + filterStr).success(function (result) {
                if (typeof result === 'object') {
                    if (result.length === 0) {
                        $scope.incomeData = [{
                            totalPrice: 0,
                            count: 0,
                            totalCommission: 0,
                            avgCommission: 0,
                            volume: 0
                        }];
                    } else {
                        $scope.incomeData = result;
                    }
                    $scope.incomeData.forEach(function (d) {
                        $scope.incomeTotal += d.totalPrice - d.totalCommission;
                    });
                }
            });

            $http.get(adUrl + '?shop_id=' + shop_id + '&role=shop&' + filterStr).success(function (result) {
                if (typeof result === 'object') {
                    if (result.length === 0) {
                        $scope.adIncomeData = [{
                            totalPrice: 0,
                            count: 0
                        }];
                    } else {
                        $scope.adIncomeData = result;
                    }
                    $scope.adIncomeData.forEach(function (d) {
                        $scope.adIncomeTotal += d.totalPrice;
                    });
                }
            });
        };

        $http.get(shopUrl).success(function (result) {
            if (typeof result === 'object') {
                shop_id = result._id;
                $scope.load();
            }
        });

        $scope.genDate = function(obj) {
            var ret = '';
            obj = obj || {};
            if (typeof obj.day !== 'undefined') ret += (ret ? '-' : '') + obj.day + 'D';
            if (typeof obj.week !== 'undefined') ret += (ret ? '-' : '') + obj.week + 'W';
            if (typeof obj.month !== 'undefined') ret += (ret ? '-' : '') + obj.month + 'M';
            if (typeof obj.year !== 'undefined') ret += (ret ? '-' : '') + obj.year + 'Y';
            return ret || 'All';
        }
    });
</script>
