<div class="container" ng-controller="income">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-inline" name="filterForm">
                    <div class="form-group price">
                        <label for="">State:</label>
                        <select class="form-control" ng-model="filterData.period" ng-change="load()">
                            <option value="">Select Period</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date:</label>
                        <div class="input-group input-daterange">
                            <input type="text" class="form-control" name="startDate" ng-model="filterData.startDate" style="width:100px;"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" name="endDate" ng-model="filterData.endDate" style="width:100px;"/>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" ng-click="load()">Go!</a>
                </form>
            </div>
        </div><!-- END panel -->
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Commission</th>
                            <th>Advertisement</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Volume</td>
                            <td>{{incomeData.volume}} / {{incomeData.count}}</td>
                            <td>{{adIncomeData.count}}</td>
                            <td>{{incomeData.count + adIncomeData.count}}</td>
                        </tr>
                        <tr>
                            <td>Sales</td>
                            <td>{{incomeData.totalPrice | currency: '$'}}</td>
                            <td>{{adIncomeData.totalPrice | currency: '$'}}</td>
                            <td>{{incomeData.totalPrice + adIncomeData.totalPrice | currency: '$'}}</td>
                        </tr>
                        <tr>
                            <td>Commission</td>
                            <td>{{incomeData.totalCommission | currency: '$'}}</td>
                            <td></td>
                            <td>{{incomeData.totalCommission | currency: '$'}}</td>
                        </tr>
                        <tr>
                            <td>Average Commission</td>
                            <td>{{incomeData.avgCommission * 100 | number: 2}}%</td>
                            <td></td>
                            <td>{{incomeData.avgCommission * 100 | number: 2}}%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right h4 text-danger">Total Income</td>
                            <td class="h4 text-danger">{{incomeData.totalPrice - incomeData.totalCommission + adIncomeData.totalPrice | currency: '$'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Income Pie-chart</div>
            <div class="panel-body" id="income-piechart">
            </div>
        </div>
    </div>
</div>

<script>
    $( function () {

    });

    App.controller("income", function ($scope, $http) {
        var url = '/api/v1/income',
            adUrl = '/api/v1/income_ad',
            shopUrl = '/api/v1/shop/mine',
            shop_id = '';

        $scope.filterData = {};
        $scope.load = function () {
            var filterStr = '';
            var count = 0;
            for (var key in $scope.filterData) {
                filterStr += key + '=' + $scope.filterData[key] + '&';
            }
            filterStr = filterStr.substring(0, filterStr.length - 1);
            $http.get(url + '?shop_id=' + shop_id + '&' + filterStr).success(function (result) {
                if (typeof result === 'object') {
                    if (result.length === 0) {
                        $scope.incomeData = {
                            totalPrice: 0,
                            count: 0,
                            totalCommission: 0,
                            avgCommission: 0,
                            volume: 0
                        }
                    } else {
                        $scope.incomeData = result[0];
                        count ? render() : count++;
                    }
                }
            });

            $http.get(adUrl + '?shop_id=' + shop_id + '&role=shop&' + filterStr).success(function (result) {
                if (typeof result === 'object') {
                    if (result.length === 0) {
                        $scope.adIncomeData = {
                            totalPrice: 0,
                            count: 0
                        }
                    } else {
                        $scope.adIncomeData = result[0];
                        count ? render() : count++;
                    }
                }
            });

            function render() {
                renderPie("#income-piechart", [
                    { label: "Sale", value: Math.round($scope.incomeData.totalPrice - $scope.incomeData.totalCommission) },
                    { label: "Ad", value: Math.round($scope.adIncomeData.totalPrice) }
                ], { height: 300 });
            }
        };

        $http.get(shopUrl).success(function (result) {
            if (typeof result === 'object') {
                shop_id = result._id;
                $scope.load();
            }
        });
    });
</script>
