<div class="container">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <legend><%=title%>
            <small class="pull-right text-danger hide"><i class="fa fa-info"></i> <span id="errorInfo"></span></small>
            <small class="pull-right text-success hide"><i class="fa fa-info"></i> <span id="successInfo"></span></small>
        </legend>
    </div>
</div>

<script>
    $( function () {

    });
</script>
