<div class="row" ng-controller="adsList">
	<% include public/modal %>
    <div class="col-xs-12">
        <br/>
        <div class="panel">
			<% include public/tableTool %>
        </div>
		<div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
					<tr>
						<th><input type="checkbox" class="mini" id="selectAll"/></th>
                        <th>SortId</th>
                        <th>Type</th>
                        <th>Url</th>
                        <th>Price</th>
						<th>State</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Operation</th>
					</tr>
					<tr class="datalist" ng-repeat="item in data">
						<td><input type="checkbox" name="listItem" class="mini" value="{{item._id}}" ng-click="getNewIds()"/></td>
						<td class=" ">{{item.sortId}}</td>
						<td class=" ">{{item.type}}</td>
						<td class=" ">{{item.url}}</td>
                        <td class="text-danger">{{item.price | currency: '$'}}</td>
						<td class=" "><label class="label" ng-class="{ true: 'label-success', false: 'label-danger' }[item.state]">{{item.state}}</label></td>
						<td class=" ">{{item.date | date : "MM/dd/yy"}}</td>
						<td class=" ">{{item.endDate | date : "MM/dd/yy"}}</td>
						<td class=" ">
							<!-- <button class="btn btn-primary btn-xs" data-whatever="{{item._id}}" data-toggle="modal" data-target="#addAd"><span class="fa fa-fw fa-edit" aria-hidden="true"></span>Edit</button>&nbsp; -->
							<button class="btn btn-danger btn-xs" ng-click="delOneItem(item._id)"><span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>Delete</button>
						</td>
					</tr>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <!--分页-->
                <% include public/pagination %>
            </div>
            <div class="overlay hide" id="dataLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.box -->
    </div>
</div>

<script>

    App.controller( "adsList", function ( $scope, $http ) {

        $scope.formData = {};
		$scope.targetID = '';
		$scope.object_type = "<%=bigCategory%>";

        initPagination( $scope, $http, $scope.object_type, "<%=searchKey%>" );

        initDelOption( $scope, $http, $scope.object_type, "<%=searchKey%>", 'Are you sure to delete the Ad?' );

	});

</script>
