<div class="container" ng-controller="incomeManage">
    <% include public/modal %>
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-inline" name="filterForm">
                    <div class="form-group">
                        <label for="">Period:</label>
                        <select class="form-control" ng-model="filterData.groupDate">
                            <option value="">Select Period</option>
                            <option value="daily" selected="selected">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">State:</label>
                        <select class="form-control" ng-model="filterData.state">
                            <option value="">Select State</option>
                            <option value="unpay">Unpay</option>
                            <option value="pay">Pay</option>
                            <option value="done">Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date:</label>
                        <div class="input-group input-daterange">
                            <input type="text" class="form-control start" name="startDate" ng-model="filterData.startDate" style="width:100px;"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control end" name="endDate" ng-model="filterData.endDate" style="width:100px;"/>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" ng-click="load()">Go!</a>
                </form>
            </div>
        </div><!-- END panel -->
        <div class="panel panel-info">
            <div class="panel-heading">Income Pie-chart</div>
            <div class="panel-body" id="income-piechart">
            </div>
        </div>
        <h4>Sales</h4>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Sales</th>
                            <th>Volume</th>
                            <th>Average Commission</th>
                            <th class="col-xs-2">Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in incomeData">
                            <td>{{genDate(item._id)}}</td>
                            <td>{{item.totalPrice | currency: '$'}}</td>
                            <td>{{item.volume}} / {{item.count}}</td>
                            <td>{{item.avgCommission | number: 2}}%</td>
                            <td>{{item.totalCommission | number: 2 | currency: '$'}}</td>
                        </tr>
                        <tr class="text-danger">
                            <td class="text-right" colspan="4">Total</td>
                            <td>{{incomeTotal | currency: '$'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
        <h4>Advertise</h4>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="col-xs-2">Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in adIncomeData">
                            <td>{{genDate(item._id)}}</td>
                            <td>{{item.totalPrice | currency: '$'}}</td>
                        </tr>
                        <tr class="text-danger">
                            <td class="text-right">Total</td>
                            <td>{{adIncomeTotal | currency: '$'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
        <h4>Summary</h4>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date Range</th>
                            <th class="col-xs-2">Total Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{filterData.startDate}} ~ {{filterData.endDate}}</td>
                            <td class="h4 text-danger">{{incomeTotal + adIncomeTotal | currency: '$'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div><!-- div.container END -->

<script>

    $(function () {
        $("div.input-daterange input").each(function () {
            $(this).datepicker({format: 'mm/dd/yyyy'});
        });

        var now = new Date();
        $("div.input-daterange input.start").datepicker("update", new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000));
        $("div.input-daterange input.end").datepicker("update", now);
    });

    App.controller("incomeManage", function ($scope, $http) {
        var url = '/admin/api/v1/income',
            adUrl = '/admin/api/v1/income_ad';

        $scope.incomeData = {};
        $scope.adIncomeData = {};
        $scope.filterData = {
            startDate: new Date(new Date().getTime() - 7 * 24 * 3600 * 1000),
            endDate: new Date(),
            groupDate: 'daily'
        };
        $scope.incomeTotal = 0;
        $scope.adIncomeTotal = 0;

        $scope.load = function () {
            var filterStr = '';
            var count = 0;
            for (var key in $scope.filterData) {
                filterStr += key + '=' + $scope.filterData[key] + '&';
            }
            $http.get(url + '?' + filterStr).success(function (result) {
                if (typeof result === 'object') {
                    if (result.length === 0) {
                        $scope.incomeData = {
                            totalPrice: 0,
                            count: 0,
                            totalCommission: 0,
                            avgCommission: 0,
                            volume: 0
                        }
                    } else {
                        $scope.incomeData = result;
                        count ? done() : count++;
                    }
                }
            });

            $http.get(adUrl + '?' + filterStr).success(function (result) {
                if (typeof result === 'object') {
                    if (result.length === 0) {
                        $scope.adIncomeData = {
                            totalPrice: 0,
                            count: 0
                        }
                    } else {
                        $scope.adIncomeData = result;
                        count ? done() : count++;
                    }
                }
            });

            function render(data) {
                $("#income-piechart").html("");
                renderPie("#income-piechart", data, { height: 300 });
            }

            function done() {
                $scope.incomeData.forEach(function (d) {
                    $scope.incomeTotal += d.totalCommission;
                });
                $scope.adIncomeData.forEach(function (d) {
                    $scope.adIncomeTotal += d.totalPrice;
                });
                $scope.incomeTotal.toFixed(2);
                $scope.adIncomeTotal.toFixed(2);
                var data = [
                    { label: "Sale", value: $scope.incomeTotal },
                    { label: "Ad", value: $scope.adIncomeTotal }
                ];
                render(data);
            }
        };

        $scope.load();

        $scope.genDate = function(obj) {
            var ret = '';
            obj = obj || {};
            if (typeof obj.day !== 'undefined') ret += (ret ? '-' : '') + obj.day + 'D';
            if (typeof obj.week !== 'undefined') ret += (ret ? '-' : '') + obj.week + 'W';
            if (typeof obj.month !== 'undefined') ret += (ret ? '-' : '') + obj.month + 'M';
            if (typeof obj.year !== 'undefined') ret += (ret ? '-' : '') + obj.year + 'Y';
            return ret || 'All';
        }

    });

</script>
