<div class="row" ng-controller="mainPanel">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-pie-chart"></i>
                    <h3 class="box-title">Site Profile</h3>
                </div><!-- /.box-header -->
                <div class="box-body" id="site-pie">
                    <!-- d3-pie-chart -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- ./col -->
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-location-arrow"></i>
                    <h3 class="box-title">Quick Start</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul class="list-unstyled">
                        <li><a href="/admin/manage/adminUsersList"><i class="fa fa-fw fa-user-plus"></i> Add Administrator</a></li>
                        <li><a href="/admin/manage/content/add/content"><i class="fa fa-fw fa-history"></i> View Sales History</a></li>
                        <li><a href="/admin/manage/content/add/plug"><i class="fa fa-fw fa-usd"></i> Update Commission</a></li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- ./col -->
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-bar-chart"></i>
                    <h3 class="box-title">Income Profile</h3>
                </div><!-- /.box-header -->
                <div class="box-body" id="income-bar">
                    <!-- d3-bar-chart -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- ./col -->
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-calendar-o"></i>
                    <h3 class="box-title">System Logs</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul class="list-unstyled">
                        <li>
                            <div ng-repeat="syslog in systemLog">
                                <small class="pull-right">{{syslog.date | date : "yy-MM-dd HH:mm:ss"}}</small>
                                <p>{{syslog.log}}</p>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- ./col -->
    </div>
</div>
<script>
    App.controller( "mainPanel", function( $scope, $http ) {
        $http.get("/admin/api/v1/user_count").success( function ( result ) {
            var userCount = result;
            new d3pie( "#site-pie", {
                size: {
                    "canvasWidth": jQuery("#site-pie").width(),
                    "canvasHeight": jQuery(window).height() * 0.26,
                    "pieInnerRadius": "1%",
                    "pieOuterRadius": "100%"
                },
                data: {
                    "sortOrder": "value-desc",
                    "content": [
                        {
                            "label": "admin",
                            "value": userCount.adminCount
                        },
                        {
                            "label": "customer",
                            "value": userCount.customerCount
                        },
                        {
                            "label": "shop owner",
                            "value": userCount.shopOwnerCount
                        }
                    ]
                },
                tooltips: {
                    "enabled": true,
                    "type": "placeholder",
                    "fontColor": "#efefef",
                    "string": "{label}: {value}, {percentage}%"
                },
                misc: {
        			"colors": {
        				"segmentStroke": "#fff"
        			}
        		},
                effects: {
                    "pullOutSegmentOnClick": {
                        "effect": "linear",
                        "speed": 400,
                        "size": 8
                    }
                },
                labels: {
                    "outer": {
                        "pieDistance": 10
                    },
                    "mainLabel": {
                        "fontSize": 16
                    },
                    "percentage": {
                        "fontSize": 14,
                        "decimalPlaces": 0
                    },
        			"value": {
        				"color": "#cccc43",
        				"fontSize": 14
        			},
        			"lines": {
        				"enabled": true,
        				"color": "#aaa"
        			},
        			"truncation": {
        				"enabled": true
        			}
                }
            });
        });
        $http.get("/admin/api/v1/system_logs?limit=5").success( function ( result ) {
            $scope.systemLog = result;
        });
    });
</script>
