<div class="container" ng-controller="orderManage">
    <% include public/modal %>
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-inline" name="filterForm">
                    <div class="form-group keywords">
                        <label for="">Keywords:</label>
                        <input type="text" class="form-control input-sm" name="keywords" ng-model="filterData.keywords" placeholder="keywords.."/>
                    </div>
                    <div class="form-group price">
                        <label for="">State:</label>
                        <select class="form-control" ng-model="filterData.state">
                            <option value="">Select State</option>
                            <option value="submit">Submit</option>
                            <option value="pay">Pay</option>
                            <option value="shipping">Shipping</option>
                            <option value="done">Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date:</label>
                        <div class="input-group input-daterange">
                            <input type="text" class="form-control" name="startDate" ng-model="filterData.startDate" style="width:100px;"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" name="endDate" ng-model="filterData.endDate" style="width:100px;"/>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" ng-click="load()">Go!</a>
                </form>
            </div>
        </div>
        <div class="orders">
            <div class="panel" ng-repeat="orderItem in data" ng-class="{ 'done': 'panel-success', 'pay': 'panel-info', 'submit': 'panel-default', 'shipping': 'panel-warning', 'confirm': 'panel-success' }[orderItem.state]">
                <div class="panel-heading col-xs-12">
                    <div class="col-xs-4">
                        <span>[{{orderItem.date | date: 'MM/dd/yyyy'}}] Order: {{orderItem._id}}</span>
                    </div>
                    <div class="col-xs-4">
                        <span style="">Shop: <a href="/shop/{{shopData[orderItem.shop._id]._id}}">{{shopData[orderItem.shop._id].name}}</a></span>
                    </div>
                    <div class="col-xs-4">
                        <a class="pull-right {{orderItem._id}}" href="#" data-toggle="popover">State: {{orderItem.state}}</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Unit-price</th>
                                <th>Quantity</th>
                            </tr>
                            <tr class="datalist" ng-repeat="item in orderItem.products">
                                <td class="col-sm-6"><img src="{{item.logo}}" style="width: 60px;height:60px;margin-right:10px;"/><a href="/product/{{item._id}}">{{item.name}}</a></td>
                                <td class="col-sm-3" style="vertical-align:middle;">{{item.price | currency: '$'}} (now)</td>
                                <td class="col-sm-3" style="vertical-align:middle;">{{item.quantity}}</td>
                            </tr>
                            <tr>
                                <td>Address: {{orderItem.address.address}} ({{orderItem.address.postcode}})</td>
                                <td>Receiver: {{orderItem.address.name}}</td>
                                <td>Telephone: {{orderItem.address.phoneNum}}</td>
                            </tr>
                            <tr>
                                <td><h4 class="text-danger">Total: {{orderItem.total | currency: '$'}}</h4></td>
                                <td colspan="2" ng-switch="orderItem.state">
                                    <h4 class="text-info" ng-switch-when="submit">Waiting the buyer to pay it.</h4>
                                    <h4 class="text-info" ng-switch-when="shipping">Waiting the buyer to confirm it.</h4>
                                    <h4 class="text-info" ng-switch-when="confirm">Waiting the buyer to comment it.</h4>
                                    <h4 class="text-info" ng-switch-when="pay">Waiting the seller shipping products.</h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <% include ./public/pagination %>
            </div>
        </div>
    </div>
</div><!-- div.container END -->

<script>

    $(function () {
        $("div.input-daterange input").each(function () {
            $(this).datepicker({format: 'mm/dd/yyyy'});
        });
    });

    App.controller("orderManage", function ($scope, $http) {
        var url = '/admin/api/v1/order';
        var nState = 5,
            stateMap = {
                'submit': 1,
                'pay': 2,
                'shipping': 3,
                'confirm': 4,
                'done': 5
            };

        initPage($scope, $http, url, true, loadProducts);
        $scope.load = function () {
            loadData($scope, $http, url, loadProducts);
        };

        function loadProducts(result) {
            if (typeof result === 'object') {
                $scope.shopData = {};
                for (var i = 0; i < $scope.data.length; i++) {
                    if (typeof $scope.shopData[$scope.data[i].shop._id]) {
                        $scope.shopData[$scope.data[i].shop._id] = {};
                    }
                    for (var j = 0; j < $scope.data[i].products.length; j++) {
                        var product = $scope.data[i].products[j];
                        (function (i, j) {
                            $http.get('/api/v1/product/' + product._id).success(function (result) {
                                if (typeof result === 'object') {
                                    $.extend($scope.data[i].products[j], result);

                                    // status popover
                                    var order = $scope.data[i],
                                        state = order.state,
                                        pos = stateMap[state],
                                        percentage = (pos / nState) * 100,
                                        html = '<div class="progress"><div class="progress-bar progress-bar-success active" aria-valuenow="' + percentage + '" aria-valuemin="0" aria-valuemax="100" role="progressbar" style="width: ' + percentage + '%;">' + Math.round(percentage) + '%</div></div>';

                                    function format(date) {
                                        return new Date(date).toString().substring(4, 24);
                                    }
                                    if (order.submitDate) {
                                        html += '<p>Submit Date: </p><p>' + format(order.submitDate) + '</p>';
                                    }
                                    if (order.payDate) {
                                        html += '<p>Pay Date: </p><p>' + format(order.payDate) + '</p>';
                                    }
                                    if (order.shippingDate) {
                                        html += '<p>Shipping Date: </p><p>' + format(order.shippingDate) + '</p>';
                                    }
                                    if (order.confirmDate) {
                                        html += '<p>Confirm Date: </p><p>' + format(order.confirmDate) + '</p>';
                                    }
                                    if (order.doneDate) {
                                        html += '<p>Done Date: </p><p>' + format(order.doneDate) + '</p>';
                                    }

                                    $("a." + order._id).popover({
                                        trigger: 'hover',
                                        title: 'Progress Date',
                                        content: html,
                                        html: 'true',
                                        placement: 'left'
                                    });
                                } else {
                                    showErrorInfo('get product(' + $scope.data[i].products[j]._id + ') error');
                                }
                            });
                        })(i, j);
                    } // for-products
                } // for-data
                for (var key in $scope.shopData) {
                    (function (key) {
                        $http.get('/api/v1/shop/' + key).success(function (result) {
                            if (typeof result === 'object') {
                                $.extend($scope.shopData[key], result);
                            } else {
                                showErrorInfo('get shop(' + $scope.data[i].shop._id + ') error');
                            }
                        });
                    })(key);
                }
            }
        }

    });

</script>
