<footer class="">
    <div class="container">
        <ul class="nav">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Q/A</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Friend Link</a></li>
            <li><a href="#">Disclaimer</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="copyright text-center">
            Copyright &copy; 2015 SPM <a href="/"><b>PARKnSHOP</b>.com Online Mall.</a> All rights reserved.
        </div>
    </div>
</footer>
