/*
 * 前台页面默认样式
 * Author: x-web
 * Date: 20/10/2015
 */

/* login_register page */
section#login, section#register {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0 0;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: white;
    overflow: hidden;
}

section#login > div, section#register > div {
    height: 100%;
}

section#login > div.col-xs-7, section#register > div.col-xs-7 {
    background-color: #a1cfe0;
}

section#login > div.col-xs-5, section#register > div.col-xs-5 {
    background-color: #5b8c9d;
}

section#login > div form {
    margin-top: 10%;
}

section#register > div form {
    margin-top: 10%;
}

section#login div.info, section#register div.info {
    margin-top: 50%;
}

section#login div.tips {
    margin-top: 20%;
    font-weight: normal;
    font-size: 1.3em;
}

section#login .btn-lg, section#register .btn-lg {
    width: 100%;
    background-color: #f2884e;
}

section#login .btn-lg:hover, section#register .btn-lg:hover {
    color: #eee;
}

section#login a.forget {
    color: #959595;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
}

section#login a.forget:hover {
    color: #333;
}

section#login a.sign-up {
    color: #f2884e;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.3em;
}

section#login a.sign-up:hover {
    color: #ff994e;
}

section#login div.ellipse {
    position: absolute;
    z-index: 100;
    top: 45%;
    left: -20px;
    -moz-user-select: none; /* for Firefox */
    -webkit-user-select: none; /* for Chrome */
}

section#login div.ellipse a {
    cursor: pointer;
}

section#login div.ellipse span {
    color: black;
    display: block;
    position: absolute;
    z-index: 101;
    top: 10px;
    left: 18px;
    font-size: 0.9em;
}

section#login div.ellipse img {
    width: 40px;
    height: 40px;
}
