<div class="container" ng-controller="MyCart">
    <div class="col-xs-2">
        <% include ./sidebar %>
    </div>
    <div class="col-xs-10">
        <legend><%=title%></legend>
        <div class="cart">
            <div class="panel panel-warning">
                <button class="btn btn-danger btn-sm" ng-click="deleteItems()"><span class="fa fa-fw fa-remove" aria-hidden="true"></span> Delete</button>
                <input type="hidden" id="targetIds" value=""/>
            </div>
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th><input type="checkbox" class="mini" id="selectAll"/></th>
                            <th>Commodity</th>
                            <th>Unit-price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Operation</th>
                        </tr>
                        <tr class="datalist" ng-repeat="item in cartData">
                            <td><input type="checkbox" name="listItem" class="mini" value="{{item._id}}" ng-click="getNewIds()"/></td>
                            <td>
                                <img src="{{item.logo}}" class="pull-left" style="width:50px;height:50px;margin-right: 10px;" />
                                <a href="/product/{{item._id}}" title="{{item.name}}">{{item.name | limitTo:70}}</a>
                            </td>
                            <td>{{item.price | currency: '$'}}</td>
                            <td>
                                <div class="input-group col-sm-8">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button" ng-disabled="item.quantity == 1" ng-click="minus(item)">-</button>
                                    </span>
                                    <input type="text" name="" ng-model="item.quantity" ng-keyup="validate($event, item)" class="form-control input-sm text-center {{item._id}}" placeholder="1" value="{{item.quantity}}" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button" ng-click="inc(item)">+</button>
                                    </span>
                                </div>
                            </td>
                            <td>{{item.price * item.quantity | currency: '$'}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="deleteItems(item._id)"><span class="fa fa-fw fa-remove" aria-hidden="true"></span>Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total:</td>
                            <td class="text-danger">{{total | currency: '$'}}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div><!-- End div.box -->
            <div class="panel panel-info">
                <button class="btn btn-danger btn-sm" ng-click="deleteItems()"><span class="fa fa-fw fa-remove" aria-hidden="true"></span> Delete</button>
                <button class="btn btn-primary btn-sm pull-right"><span class="fa fa-fw fa-check" aria-hidden="true"></span> Checkout</button>
            </div>
        </div>
    </div>
    <% include ../public/modal %>
</div><!-- End div.container -->

<script>

    App.controller('MyCart', function ($scope, $http) {
        var user_id = '<%=userInfo._id%>';
        $scope.cartData = {};
        $scope.total = 0;

        $scope.load = function () {
            $http.get('/api/v1/user/' + user_id).success(function (user) {
                if (typeof user === 'object') {
                    $scope.cartData = user.cart;
                    for (var i = 0; i < user.cart.length; i++) {
                        (function (i) {
                            $http.get('/api/v1/product/' + user.cart[i]._id + '?part=1').success(function (result) {
                                if (typeof result === 'object') {
                                    $.extend($scope.cartData[i], result);
                                    $scope.countTotal();
                                } else {
                                    console.log('get product' + user.cart[i]._id + 'error');
                                }
                            });
                        })(i);
                    }

                } else {
                    console.log('get user failed');
                }
            });
        };

        $scope.load();

        initDelete($scope, $http, '/api/v1/user/cart');

        $scope.countTotal = function () {
            $scope.total = 0;
            for (var i = 0; i < $scope.cartData.length; i++) {
                $scope.total += $scope.cartData[i].price * $scope.cartData[i].quantity;
            }
        };

        $scope.validate = function ($event, item) {
            var key = $event.which;
            if ((key > 47 && key < 58) || key === 8) {
                $scope.countTotal();
            } else {
                var num = item.quantity.match(/[0-9]+/);
                item.quantity = num[0];
            }
            $scope.setQuantity({ _id: item._id, quantity: item.quantity - 1 });
            $("input." + item._id).blur();
        };

        $scope.inc = function (item) {
            // console.log(item);
            if (item.quantity < item.storage) {
                item.quantity++;
                $scope.setQuantity({ _id: item._id, quantity: 1 });
                $scope.countTotal();
            }
        };
        $scope.minus = function (item) {
            // console.log(item);
            if (item.quantity > 1) {
                item.quantity--;
                $scope.setQuantity({ _id: item._id, quantity: -1 });
                $scope.countTotal();
            }
        };

        $scope.setQuantity = function (data) {
            angularHttpPost($http, '/api/v1/user/cart', data);
        };

    });

</script>
