<div class="col-xs-10 col-xs-offset-1 container">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-8">
        
    </div>
</div>

<script>
    $( function () {

    });
</script>
