<div class="container" ng-controller="MyOrder">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <legend><%=title%>
            <small class="pull-right text-success hide"><i class="fa fa-info"></i> <span id="successInfo"></span></small>
            <small class="pull-right text-danger hide"><i class="fa fa-info"></i> <span id="errorInfo"></span></small>
        </legend>
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-inline" name="filterForm">
                    <div class="form-group keywords">
                        <label for="">Keywords:</label>
                        <input type="text" class="form-control input-sm" name="keywords" ng-model="filterData.keywords" placeholder="keywords.."/>
                    </div>
                    <div class="form-group price">
                        <label for="">State:</label>
                        <select class="form-control" ng-model="filterData.state">
                            <option value="">Select State</option>
                            <option value="submit">Submit</option>
                            <option value="pay">Pay</option>
                            <option value="shipping">Shipping</option>
                            <option value="done">Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date:</label>
                        <div class="input-group input-daterange">
                            <input type="text" class="form-control" name="startDate" ng-model="filterData.startDate" style="width:100px;"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" name="endDate" ng-model="filterData.endDate" style="width:100px;"/>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" ng-click="load()">Go!</a>
                </form>
            </div>
        </div>
        <div class="box orders">
            <div class="panel" ng-repeat="orderItem in data" ng-class="{ 'done': 'panel-success', 'pay': 'panel-info', 'submit': 'panel-default', 'shipping': 'panel-warning', 'confirm': 'panel-success' }[orderItem.state]">
                <div class="panel-heading col-xs-12">
                    <div class="col-xs-4">
                        <span>[{{orderItem.date | date: 'MM/dd/yyyy'}}] Order: {{orderItem._id}}</span>
                    </div>
                    <div class="col-xs-4">
                        <span style="">Shop: <a href="/shop/{{shopData[orderItem.shop._id]._id}}">{{shopData[orderItem.shop._id].name}}</a></span>
                    </div>
                    <div class="col-xs-4">
                        <a class="pull-right {{orderItem._id}}" href="#" data-toggle="popover">State: {{orderItem.state}}</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Unit-price</th>
                                <th>Quantity</th>
                                <th>Comment</th>
                            </tr>
                            <tr class="datalist" ng-repeat="item in orderItem.products">
                                <td class="col-sm-5"><img src="{{item.logo}}" style="width: 60px;height:60px;margin-right:10px;"/><a href="/product/{{item._id}}">{{item.name}}</a></td>
                                <td class="col-sm-3" style="vertical-align:middle;">{{item.price | currency: '$'}} (now)</td>
                                <td class="col-sm-2" style="vertical-align:middle;">{{item.quantity}}</td>
                                <td class="col-sm-2" style="vertical-align:middle;">
                                    <a href="#commentModal" ng-if="!item.isComment && (orderItem.state === 'confirm' || orderItem.state === 'done')" data-toggle="modal" data-productId="{{item._id}}" data-orderId="{{orderItem._id}}" class="btn btn-info btn-sm">Comment</a>
                                    <label class="label label-success" ng-if="item.isComment"><i class="fa fa-fw fa-check"></i> commented</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">Receiver: {{orderItem.address.name}} <br/>
                                Address: {{orderItem.address.address}} ({{orderItem.address.postcode}}) <br/>
                                Telephone: {{orderItem.address.phoneNum}}</td>
                            </tr>
                            <tr>
                                <td><h4 class="text-danger">Total: {{orderItem.total | currency: '$'}}</h4></td>
                                <td colspan="3" ng-switch="orderItem.state" class="text-center" style="vertical-align:middle;">
                                    <button class="btn btn-primary" ng-switch-when="submit" ng-click="payOrder(orderItem._id)">Pay it</button>
                                    <button class="btn btn-danger" ng-switch-when="submit" ng-click="deleteOrder(orderItem._id)">Cancel</button>
                                    <h4 class="text-info" ng-switch-when="pay">Waiting the seller shipping products.</h4>
                                    <button class="btn btn-primary" ng-switch-when="shipping" ng-click="confirmOrder(orderItem._id)">Confirm</button>
                                    <div ng-switch-when="confirm" class="col-xs-12">
                                        <label class="control-label col-xs-3" style="padding-top: 12px;">Score Order: </label>
                                        <div class="col-xs-5">
                                            <input class="star-rating {{orderItem._id}}" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" />
                                        </div>
                                        <div class="col-xs-2" style="padding-top: 7px;">
                                            <button class="btn btn-primary" ng-click="commentOrder(orderItem._id)">Star</button>
                                        </div>
                                    </div>
                                    <div ng-switch-when="done">
                                        <label class="control-label col-xs-3" style="padding-top: 12px;">Score Order: </label>
                                        <div class="col-xs-5">
                                            <input class="star-rating {{orderItem._id}}" type="number" value="{{orderItem.score}}" readonly="true" class="rating" min=0 max=5 step=0.5 data-size="xs" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <% include ../public/pagination %>
            </div>
        </div>
        <% include ../public/modal %>
    </div>
    <!--添加新用户模态窗口-->
    <div class="modal fade" id="commentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Comment Product</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)" novalidate>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Title</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title" ng-model="formData.title" placeholder="title" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Content</label>
                            <div class="col-sm-6">
                                <textarea name="content" ng-model="formData.content" ng-minlength="0" ng-maxlength="100" cols="30" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Star</label>
                            <div class="col-sm-6">
                                <input id="input-star-rating" type="number" ng-model="formData.score" class="rating" min=0 max=5 step=0.5 data-size="sm" >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Comment</button>
                        </div>
                    </form>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- div.container END -->

<script>

    $(function () {
        $("div.input-daterange input").each(function () {
            $(this).datepicker({format: 'mm/dd/yyyy'});
        });

        $("#input-star-rating").rating({
            showCaption: false,
            showClear: false
        });
    });

    App.controller("MyOrder", function ($scope, $http) {
        var url = '/api/v1/order?role=customer';
        var nState = 5,
            stateMap = {
                'submit': 1,
                'pay': 2,
                'shipping': 3,
                'confirm': 4,
                'done': 5
            };

        $scope.targetID = '';
        $scope.orderTargetID = '';
        initPage($scope, $http, url, true, loadProducts);
        $scope.load = function () {
            loadData($scope, $http, url, loadProducts);
        };

        function loadProducts(result) {
            if (typeof result === 'object') {
                $scope.shopData = {};
                for (var i = 0; i < $scope.data.length; i++) {
                    if (typeof $scope.shopData[$scope.data[i].shop._id]) {
                        $scope.shopData[$scope.data[i].shop._id] = {};
                    }
                    for (var j = 0; j < $scope.data[i].products.length; j++) {
                        var product = $scope.data[i].products[j];
                        (function (i, j) {
                            $http.get('/api/v1/product/' + product._id).success(function (result) {
                                if (typeof result === 'object') {
                                    $.extend($scope.data[i].products[j], result);

                                    // star-rating
                                    $("input.star-rating." + $scope.data[i]._id).rating({
                                        showCaption: false,
                                        showClear: false
                                    });
                                    if ($scope.data[i].state === 'done') {
                                        console.log($scope.data[i].score);
                                        $("input.star-rating." + $scope.data[i]._id).rating('update', $scope.data[i].score);
                                    }

                                    // status popover
                                    var order = $scope.data[i],
                                        percentage = (stateMap[order.state] / nState) * 100,
                                        html = '<div class="progress"><div class="progress-bar progress-bar-success active" aria-valuenow="' + percentage + '" aria-valuemin="0" aria-valuemax="100" role="progressbar" style="width: ' + percentage + '%;">' + Math.round(percentage) + '%</div></div>';

                                    function format(date) {
                                        return new Date(date).toString().substring(4, 24);
                                    }
                                    if (order.submitDate) {
                                        html += '<p>Submit Date: </p><p>' + format(order.submitDate) + '</p>';
                                    }
                                    if (order.payDate) {
                                        html += '<p>Pay Date: </p><p>' + format(order.payDate) + '</p>';
                                    }
                                    if (order.shippingDate) {
                                        html += '<p>Shipping Date: </p><p>' + format(order.shippingDate) + '</p>';
                                    }
                                    if (order.confirmDate) {
                                        html += '<p>Confirm Date: </p><p>' + format(order.confirmDate) + '</p>';
                                    }
                                    if (order.doneDate) {
                                        html += '<p>Done Date: </p><p>' + format(order.doneDate) + '</p>';
                                    }

                                    $("a." + order._id).popover({
                                        trigger: 'hover',
                                        title: 'Progress Date',
                                        content: html,
                                        html: 'true',
                                        placement: 'left'
                                    });
                                } else {
                                    showErrorInfo('get product(' + $scope.data[i].products[j]._id + ') error');
                                }
                            });
                        })(i, j);
                    } // for-products
                } // for-data
                for (var key in $scope.shopData) {
                    (function (key) {
                        $http.get('/api/v1/shop/' + key).success(function (result) {
                            if (typeof result === 'object') {
                                $.extend($scope.shopData[key], result);
                            } else {
                                showErrorInfo('get shop(' + $scope.data[i].shop._id + ') error');
                            }
                        });
                    })(key);
                }
            }
        }; // func-loadProducts

        $scope.payOrder = function (order_id) {
            if (order_id) {
                confirmModal($scope, 'Are you sure pay for it?', function () {
                    angularHttpPost($http, '/api/v1/order/' + order_id + '/pay', { }, function (result) {
                        if (result === 'success') {
                            $scope.load();
                        }
                    });
                });
            }
        };

        $scope.deleteOrder = function (order_id) {
            if (order_id) {
                confirmModal($scope, 'Are you sure delete it?', function () {
                    angularHttpDelete($http, '/api/v1/order/' + order_id, function (result) {
                        if (result === 'success') {
                            $scope.load();
                        }
                    });
                });
            }
        };

        $scope.confirmOrder = function (order_id) {
            if (order_id) {
                confirmModal($scope, 'Are you sure confirm it?', function () {
                    angularHttpPost($http, '/api/v1/order/' + order_id + '/confirm', {}, function (result) {
                        if (result === 'success') {
                            $scope.load();
                        }
                    });
                });
            }
        };

        $scope.commentOrder = function (order_id) {
            if (order_id) {
                var score = $("input.star-rating." + order_id).val();
                if (score <= 0) {
                    alert("Star is not less than zero.");
                    return;
                }
                angularHttpPost($http, '/api/v1/order/' + order_id + '/done', { score: score }, function (result) {
                    if (result === 'success') {
                        $scope.load();
                    }
                });
            }
        };

        $scope.processForm = function (isValid) {
            if (isValid && $scope.targetID && $scope.orderTargetID) {
                $scope.formData.product_id = $scope.targetID;
                $scope.formData.order_id = $scope.orderTargetID;
                angularHttpPut($http, '/api/v1/comment', $scope.formData, function (result) {
                    if (result === 'success') {
                        $scope.load();
                    }
                });
            }
        };

        // modal
        $("#commentModal").on('show.bs.modal', function (event) {
            var obj = $(event.relatedTarget);
            $scope.targetID = obj.attr('data-productId');
            $scope.orderTargetID = obj.attr('data-orderId');
        }).on('hidden.bs.modal', function (event) {
            $(this).find("input").val("");
            $(this).find("textarea").val("");
            $scope.formData = {};
            $scope.targetID = '';
            $scope.orderTargetID = '';
        });

    });

</script>
