<div class="sidebar">
    <h4 class=""><b>All Functions</b></h4>
    <ul class="nav">
        <li><a href="/user/manage/profile">Profile</a></li>
        <li><a href="/user/manage/cart">My Cart</a></li>
        <li><a href="/user/manage/order">Brought Things</a></li>
        <li><a href="/user/manage/order">Brought Shops</a></li>
        <li><a href="/user/manage/collection">My Collections</a></li>
        <li><a href="/user/manage/comment">My Comments</a></li>
        <li><a href="/user/manage/service">My Service</a></li>
        <% if (userInfo.group !== 'shop_owner') { %>
            <li><a href="/user/manage/free_shop" class="free-shop">Free Shop</a></li>
        <% } else if (userInfo.group === 'shop_owner') { %>
            <li><a href="/shop/manage">My Shop</a></li>
        <% } %>
    </ul>
</div>
